#root {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  width: 90vw;
  height: 90vh;
}

header {
  height: 10%;
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  height: 10%;
}

a {
  padding: 2%;
  margin: 2%;
  border: solid 1px;
  border-radius: 5px;
  border-color: white;
}

a.active {
  font-weight: bold;
  background-color: white;
  color: black;
}
